<footer id="footer">
    <div class="container">
        <hr>
        <p class="text-center">{{ settings.FOOT_SLOGAN }}</p>
        <p class="text-center">
            <a href="#">关于我们</a>
            &nbsp;|&nbsp;
            <a href="#">加入我们</a>
            &nbsp;|&nbsp;
            <a href="#">联系我们</a>
        </p>
        <p class="text-center">Copyright © 2016 {{ settings.COMP_NAME }}. All Right Reserved. 当前版本：{{ settings.VERSION }}</p>
        <p class="text-center">{{ settings.RECORD_MSG }}</p>
    </div>
</footer>
